@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

.background-color{
  background-color : #dfcaa0; 
  color: black;
  font-family: 'Roboto', sans-serif;
  
}
.flex.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .gap1 {
    gap: 10px;
  }
  
  img {
    width: 650px;
    height: auto;
    max-width: 650p;
  }

  .animate__zoomInUp{
    animation-delay: 200ms;
  }